<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="main">
<br>
	<button type="button" onclick="location.href='is'">학과 소개</button>   &nbsp;
	<button type="button" onclick="location.href='is2'">교수진 소개</button>
<br>
	<br>
	<div style="color: #555; background: #eeeeee; margin:0; padding: 0; box-sizing: border-box;">
		<section id="content1">

			<h3>학과 소개</h3>
			<ul class="base_list mt5">
				<li>정보보호(Information Security)란 정보의 수집, 가공, 저장, 검색, 송신, 수신 중에 정보의 훼손, 변조, 유출 등을 방지하기 위한 관리적·기술적 수단 또는 그러한 수단으로 이루어지는 행위를 말한다.</li>
				<li>사이버 보안의 위협이 날로 증가하는 오늘날의 정보화 시대에 반드시 필요한 국가의 정보인력을 양성하기 위하여 체계적인 교육과정, 젊고 우수한 교수진, 완벽한 실험실습교육 기반을 갖추고, 이론과 실무를 겸비한 정보보호 분야의  전문가를 양성한다.</li>
			</ul>
			<br>

			<br>
			<h3>교육 목표</h3>
			<ul class="base_list mt5">
				<li>사이버 보안경찰, 정보보호 관리자 양성</li>
				<li>정보화시대 국가의 정보보호무제를 책임질 수 있는 정보보호 산업역군 양성</li>
				<li>이론과 실무를 겸비한 정보보호 전문 인력 양성 (정보보호기술개발자)</li>
				<li>문제해결능력을 갖춘 정보보안 시스템 관리자 양성 (정보보호 관리자)</li>
				<li>정보보호관련 전문연구자로의 자질 함양</li>
				<li>개인정보보호, 전자상거래 및 모바일보안 등 정보보호 응용서비스 개발을 선도할 수 있는 전문가 육성</li>
			</ul>
			<br>
		</section><br>
	</div>
	<br>


</div>

