<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<br>
<h3>JTBC 팀 소개</h3>
<p><span style="background-color:yellow">(팀명 뜻 : Joongbu Teacher 병천 교수님 - JTBC)</span></p>

<br>
<h3>팀원 소개</h3> <br>
<div style="width: 50%; float: left;">
    <div class="container" style="width: 90%; height: 520px; border:1px solid rgb(17, 15, 1);">
        <br>
        <h4>양경모 (팀장)</h4>
        <img src="../../../assets/images/ygm.jpg" style="margin-left: auto; margin-right: auto; display: block; width: 40%;" /><br>
        <p>
            - 임시 비밀번호 발급 구현 <br>
            - 발급된 임시 비밀번호 메일로 전송<br>
            - 보고서 작성<br>
            - 발표자료 제작 및 발표<br>
        </p>
    </div>
    <br>
    <div class="container" style="width: 90%; height: 450px; border:1px solid rgb(17, 15, 1);">
        <br>
        <h4>한수연</h4>
        <img src="../../../assets/images/hsy.jpg" style="margin-left: auto; margin-right: auto; display: block; width: 40%;" /><br>
        <p>
            - 질문게시판 글 리스트 구현 <br>
            - 질문게시판 댓글 리스트 구현 <br>
            - 질문게시판 글보기 구현 <br>
            - 한줄 마음 전하기 리스트 구현 <br>
            - 페이지 오류 수정 (로그인 상태 풀리는 오류 등 수정)<br>
        </p>
    </div>
    <br><br>
</div>

<div style="width: 50%; float: right;">
    <div class="container" style="width: 90%; height: 520px; border:1px solid rgb(17, 15, 1);">
        <br>
        <h4>박지윤</h4>
        <img src="../../../assets/images/pjy.PNG" style="margin-left: auto; margin-right: auto; display: block; width: 40%;" /><br>
        <p>- 전체 페이지 디자인<br>
            - 여러 기능 추가 (학과소개, 과제 제출 기한 확인 등)<br>
            - 로그인, 회원가입 구현 <br>
            - 프로필 구현<br>
            - 개인정보 수정 구현<br>
            - 질문게시판 글 작성 구현<br>
            - 질문게시판 댓글 작성 구현<br>
            - 질문게시판 글, 댓글 보기 구현<br>
            - 한줄 마음 전하기 글 작성 및 리스트 구현<br>
            - 교수님 페이지로 넘어가기 전 인증 구현 <br>
        </p>
    </div>
    <br>
    <div class="container" style="width: 90%; height: 450px; border:1px solid rgb(17, 15, 1);">
        <br>
        <h4>송유진</h4>
        <img src="../../../assets/images/syj.jpg" style="margin-left: auto; margin-right: auto; display: block; width: 40%;" /><br>
        <p>
            - 과제 제출 구현 <br>
            - 교수님 페이지에서 제출한 과제 확인 및 다운로드 구현 <br>
        </p>
    </div>
    <br><br>
</div>

<br><br>