<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="about.html">강의개요 <span class="sr-only">(current)</span></a></li>
                <li><a href="ppt.html">강의자료</a></li>
                <li><a href="student.html">수강학생 홈페이지</a></li>
                <li><a href="job.html">과제물</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron text-center" style="background-color: rgba(118, 170, 230, 0.623);">
    <div class="container">
        <h1>웹어플리케이션보안</h1>
        <h3>Web Application Security</h3>
        <p>#MEANStack, #node.js, #Express, #Javascript, #MongoDB, #Angular, #Bootstrap, #Cloud, #이병천교수님</p>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <br>
            <img src="../../../assets/images/1.jpg" style="width: 100%; height: 300px;" /><br>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/2.png" style="width: 100%; height: 350px;" /><br>
        </div>
    </div>
</div>

<br>
<div class="container">
    <h1 class="page-header">공지사항 <small>Notice</small></h1>
    <table class="table">
        <br>
        <tr>
            <h4>중간고사</h4>
        </tr>
        <td>중간고사 필기시험(50%): <br>
            중간고사 실무과제(50%):</td>
    </table>


    <div class="panel panel-primary">
        <table class="table">
            <br>
            <tr>
                <h4>기말고사</h4>
            </tr>
            <td>기말고사 필기시험: 12.10(화) <br>
                캡스톤디자인 실무과제 보고서 제출: 12.11(수) 자정까지 <br>
                - 자신의 홈페이지에 프로젝트 페이지 준비: 프로젝트팀 정보, 발표자료 ppt 링크, 프로젝트 소스 압축파일 링크 <br>
                <span style="background-color:yellow">기말고사 실무과제 프로젝트 발표: 12.13(금)</span></td>
        </table>
    </div>

</div>

<hr>

<footer class="footer">
    <div class="container">
        <p class="text-muted"> &copy; 2019 - 중부대학교 정보보호학과 이병천 교수님 강의</p>
    </div>
</footer>